@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --terminal-primary: #ffc526; /*hsl(90, 94%, 41%);*/
  --terminal-bg: hsl(40, 100%, 5%); /*hsl(90, 100%, 3%);*/
  --terminal-glow: #ffbb00;
  --story-primary: #e8e8e8;
  --story-bg: hsl(0, 0%, 5%);
}

.glow-text {
  text-shadow: 0 0 15px var(--terminal-primary);
}

input.glow-text::placeholder {
  text-shadow: 0 0 15px var(--terminal-glow);
}

.glow-box {
  box-shadow: 0 0 5px var(--terminal-glow), inset 0 0 5px var(--terminal-glow);
}

.scrollbar-terminal {
  scrollbar-color: var(--terminal-primary) transparent;
  scrollbar-width: thin;
}

.scrollbar-terminal-bg {
  scrollbar-color: var(--terminal-bg) transparent;
  scrollbar-width: thin;
}

/* these rules all do the same thing but on different browsers(?) */
.break-word {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}